* {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
}

.body-container {
  /* height: 100%;
  background-color: white;*/
  width: 100%;
  max-width: 60rem;
}

header {
}

header img {
  height: auto;
  width: 100%;
  display: block;
}

nav {
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-around;
}

nav ul li {
  display: flex;
}

nav ul li a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 1rem;
}

nav ul li a:hover {
  background-color: #555;
}

.active {
  background-color: #005500;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-too-long {
  margin-left: 0;
  margin-right: 0;
}

.content-card {
  margin: 1rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #666;
  font-size: larger;
}

p {
  margin: 1rem;
}

h1 {
  margin: 1rem;
}

.logo-big {
  width: 100%;
  max-width: 40rem;
  padding: 0.5rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.phone {
  height: 1.5rem;
  filter: invert(100%);
  padding: 0.3rem 0.3rem 0 0.3rem;
}

.spacer {
  height: 15rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 0.5em auto;
  padding: 0;
  width: 30%;
}
